@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
  }
  
  .alegreya-sans-light {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .alegreya-sans-regular {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .alegreya-sans-medium {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .alegreya-sans-bold {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .alegreya-sans-extrabold {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .alegreya-sans-light-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  

  .text-white{
    color: white;
  }
  
 
  
  #create-accnt{
    width: 28vw;
  
  }
  .add-note{
    width: 11vw;
  }
  
  @media (width<=1194px) {
    .btns{
      width: 17vw;
    }
    
  }
  
  @media (width>606px){
    .notes-container{
      width: 15rem;
    }
  }
  
  @media(width<=606px){
    .notes-container{
      width: 20rem;
    
    }
  
  
  }
  
  
  @media (width<450px){
    .notes-container{
      width: 15rem;
    }
  
    #create-acct{
      width: 52vw;
    
    }
  
    .container-form{
      padding: 20px;
    }
  
    .btns{
      margin-bottom: 12px;
      width: 60vw;
    }
    
  }
  
  @media (width<=280px){
    .notes-container{
      width: 10rem;
    }
  
    .container{
      padding: 0;
      height: 100vh;
    }
  
    .btns{
      margin-left: 0;
    }
  
    .lead{
      font-size: 16px;
    }
  
    .navbar-toggler-icon{
      position: relative;
      right: 10px;
    }
  
    .navbar-toggler{
      width: 34px;
    }
  
    .form-group{
      margin: 20px 0px;
    }
  
    .login-heading{
      font-size: 22px;
    }
  
  }
  
  @media (width>450px) {
    .container-form{
      padding: 40px;
    }
    .login-heading{
      font-size: 34px;
    }
    
  }
  
  no-text{
    text-align: center;
    font-size: 26px;
    margin: auto;
    background: sandybrown;
  
  }
  
  a{
    text-decoration: none;
    font-weight: 700;
  
  }
  
  
  .container-form{
    background-color: rgb(19 52 77);
    /* padding: 50px; */
    text-align: center;
  }
  
  .form-group{
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login>input{
    line-height: 0.5rem;
  }
  
  .login-heading{
    /* font-sisze: 34px; */
    /* font-family: fantasy; */
    text-align: center;
    font-weight: 400;
    padding: 28px;
    color: #d1ced0;
  }
  
  
  
  .container-form>form{
    border: 1px solid white;
    background: #071b38;
    padding: 26px;
    width: 40vw;
    margin: auto;
  }
  
  
  @media (width<=980px){
    .container-form>form{
      width: 80vw;
    }
  
  }
  
  input{
    font-size: 20px;
    color: #274407;
    /* margin-right: 25px; */
    padding: 7px;
    border-radius: 2px;
    border: none;
    /* text-align: center; */
    width: 100%;
    outline: none;
  
  }
  .my-5>button{
  margin-bottom: 46px;
  }
  
  button{
    color: #184884;
    background: none;
    font-size: 20px;
    /* margin-top: 41px; */
    /* color: #274407; */
    padding: 11px;
    border-radius: 4px;
    border: 1px solid black;
    /* text-align: center; */
  
    width: 15vw;
  
  }
  
  button:hover{
    background-color: #393939;
    border-color: #393939;
    color: #fff;
  }
  
  .footer{
    color: #959595;
    font-size: 19px;
    margin: 23px;
  }
  
  .register{
    color: #00b6ff;
    margin: 12px;
    text-decoration: underline;
  }
  
  h4{
    padding-top: 27px;
    font-size: 18px;
    font-weight: 400;
    color: #7c7676;
  
  }
  
  btn{
    margin: 0px 24px;
  }
  
  
  .notes-container{
    box-shadow: 5px 0px 20px #005d5b;
    border: 1px solid #24b5ec;
    border-radius: 2px;
    padding: 23px;
  
    background: #002e3f;
  }
  
  .card-footer{
    background-color: white;
  }
  
  .note-list{
    display: flex;
  
    margin-top: 82px;
    /* margin: auto; */
    gap: 63px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  .n-tag{
    background: #477da4;;
    color: white;
    text-align: center;
    padding: 8px;
  }
  
  .n-title{
    color: black;
    margin: 11px;
    padding: 8px 13px;
    background: antiquewhite;
  }
  
  .n-desc{
      color: #0b0836;
      padding: 11px;
      font-size: 22px;
      text-align: center;
  }
  
  .notes-style{
    background: azure;
    text-align: center;
    background: #bcbcbc;
    border: 3px solid white;
  }
  
  .card-footer{
    padding: 8px;
    background: #1a1a1a;
  }